
.skills{
    height: 100vh;
    z-index: 0;
    position: relative;
    margin-top: -12rem;
    
    
   
}
.skills>*{
    z-index: 0;
    
}

.sleft{
    
   margin-left: -1rem;
    position: relative;
    left: 0;
    flex: 1;
    margin-top: 5rem;
}
.pic>*{
    transform: scale(1.4);
    height: 15rem;
    border-radius: 200px;
    margin-left: 7.5rem;
    margin-top: 7rem;
}
.desc{
    width: 30rem;
    margin-left: 1rem;
margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: black;
}
/* .desc:hover{
    background-color: rgba(23, 22, 22, 0.24);
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
   
} */

.sright{
    display: flex;
    position: relative;

   margin-top: -22rem;
    margin-left: 33rem;
    flex: 1;
}

.s2box{
    width: 27rem;
    border: 2px solid black;
    margin-top: -0.5rem;
   border-radius: 1rem;
    height: 25rem;
    z-index: 0;
    position: relative;
    background-color:rgba(214, 158, 214, 0.258) ; 
  
   transition: transform .2s;
 
}
.s2box:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

 .s2box>*:nth-child(1){
    margin-left: 10rem;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
}

.head{
    font-size: 26px;
    margin-left: 10px;
    font-weight:550;
}
